In [3]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
%sql postgresql://dwhuser:pwd@host:5439/dwhdb

'Connected: dwhuser@dwhdb'

In [5]:
%sql select * from stl_load_errors order by starttime desc limit 5;

 * postgresql://dwhuser:***@dwhcluster.chopbbjavcay.us-west-2.redshift.amazonaws.com:5439/dwhdb
0 rows affected.

[]

In [7]:
%%sql 
select count(*) from staging_songs;
select * from staging_songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.chopbbjavcay.us-west-2.redshift.amazonaws.com:5439/dwhdb
1 rows affected.
5 rows affected.

[(1, 'AR1NRFQ1187B994284', None, None, '', '-123min.', 'SOERGVA12A6D4FEC55', 'Try', Decimal('338.311379'), 2001),
 (1, 'ARQCDBP1187B997D36', None, None, 'California - LA', '1 Giant Leap feat. Grant Lee Phillips & Horace Andy', 'SOWUKHZ12A6D4FB9EF', 'Racing Away', Decimal('359.784040'), 0),
 (1, 'ARLHLXZ11E2835E51D', None, None, '', '1000names', 'SOQZOZT12AB018DAEC', 'Talking To The Postman Before Leaving', Decimal('74.004440'), 2010),
 (1, 'ARW1MUW1187FB4D5A1', None, None, 'Escatawpa, MS', '3 Doors Down', 'SOYSRRY12A6310E1C1', "It's Not Me", Decimal('230.425670'), 2003),
 (1, 'ARW1MUW1187FB4D5A1', None, None, 'Escatawpa, MS', '3 Doors Down', 'SOYKAIZ12A6D4F97B2', 'Duck And Run', Decimal('278.908930'), 1999)]

In [9]:
%%sql 
select COUNT(*) from staging_events;
select * from staging_events LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.chopbbjavcay.us-west-2.redshift.amazonaws.com:5439/dwhdb
1 rows affected.
5 rows affected.

[('The Human League', 'Logged In', 'Mohammad', 'M', 2, 'Rodriguez', Decimal('225.175060'), 'paid', 'Sacramento--Roseville--Arden-Arcade, CA', 'PUT', 'NextSong', 1540511766796, 969, '(Keep Feeling) Fascination (2003 Digital Remaster)', '200', datetime.datetime(2018, 11, 27, 18, 47, 16, 796000), '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', '88'),
 ('The Gerbils', 'Logged In', 'Kate', 'F', 67, 'Harrell', Decimal('27.010159'), 'paid', 'Lansing-East Lansing, MI', 'PUT', 'NextSong', 1540472624796, 605, '(iii)', '200', datetime.datetime(2018, 11, 15, 18, 25, 31, 796000), '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', '97'),
 ('The Gerbils', 'Logged In', 'Martin', 'M', 0, 'Johnson', Decimal('27.010159'), 'free', 'Minneapolis-St. Paul-Bloomington, MN-WI', 'PUT', 'NextSong', 1541081807796, 250, '(iii)', '200', datetime.datetime(2018, 11, 6, 4, 56, 11, 796000), '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', '55'),
 ('The Gerbils', 'Logged In', 'Chloe', 'F', 5, 'Cuevas', Decimal('27.010159'), 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', 1540940782796, 916, '(iii)', '200', datetime.datetime(2018, 11, 25, 5, 27, 58, 796000), 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0', '49'),
 ('The Gerbils', 'Logged In', 'Jordan', 'F', 0, 'Hicks', Decimal('27.010159'), 'free', 'Salinas, CA', 'PUT', 'NextSong', 1540008898796, 304, '(iii)', '200', datetime.datetime(2018, 11, 10, 9, 59, 34, 796000), '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', '37')]

In [11]:
%%sql 
select count(*) from songplays;
select * from songplays order by songplay_id LIMIT 5  ;

 * postgresql://dwhuser:***@dwhcluster.chopbbjavcay.us-west-2.redshift.amazonaws.com:5439/dwhdb
1 rows affected.
5 rows affected.

[(0, datetime.datetime(2018, 11, 23, 16, 13, 8, 796000), '58', 'paid', 'SOJJYDE12AF729FC16', 'ARG72Q21187FB36243', 852, 'Augusta-Richmond County, GA-SC', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (1, datetime.datetime(2018, 11, 8, 10, 7, 12, 796000), '80', 'paid', 'SOIKPOX12A58A7BA0B', 'ARBNXYA1187FB51C50', 342, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (2, datetime.datetime(2018, 11, 5, 17, 31, 40, 796000), '35', 'free', 'SONTFNG12A8C13FF69', 'AR52EZT1187B9900BF', 171, 'St. Louis, MO-IL', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (3, datetime.datetime(2018, 11, 29, 17, 1, 34, 796000), '49', 'paid', 'SORDWGC12AB01840A3', 'ARMB0B11187B9AE46C', 1041, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (4, datetime.datetime(2018, 11, 4, 9, 19, 3, 796000), '44', 'paid', 'SOCSXKQ12A6D4F95A0', 'ARRE7IQ1187FB4CF13', 196, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')]

In [13]:
%%sql 
select count(*) from users;
select * from users limit 5;

 * postgresql://dwhuser:***@dwhcluster.chopbbjavcay.us-west-2.redshift.amazonaws.com:5439/dwhdb
1 rows affected.
5 rows affected.

[('40', 'Tucker', 'Garrison', 'M', 'free'),
 ('56', 'Cienna', 'Freeman', 'F', 'free'),
 ('53', 'Celeste', 'Williams', 'F', 'free'),
 ('90', 'Andrea', 'Butler', 'F', 'free'),
 ('86', 'Aiden', 'Hess', 'M', 'free')]

In [15]:
%%sql
select count(*) from songs;
select * from songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.chopbbjavcay.us-west-2.redshift.amazonaws.com:5439/dwhdb
1 rows affected.
5 rows affected.

[('SOUDSJF12A8C13C36D', "Ja (Hanno's Poppersmonstermix)", 'ARNJVSL1187B99AFD4', 2007, Decimal('357.850979')),
 ('SOGZANN12AB018736A', 'Freedom', 'AR1DLF21187FB3CBF0', 0, Decimal('238.497510')),
 ('SOIQYAU12A8C137731', 'Passive (Explicit Version)', 'ARVDO8G1187B99F43E', 2004, Decimal('250.226490')),
 ('SONZTUY12A8C13771C', 'Let the Snow Begin', 'ARRFMEQ1187B989C52', 0, Decimal('213.132610')),
 ('SOXSPXW12A6D4F9AA3', 'Tocar Na Banda', 'ARIPW1E1187FB38233', 0, Decimal('120.319550'))]

In [17]:
%%sql 
select count(*) from artists;
select * from artists LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.chopbbjavcay.us-west-2.redshift.amazonaws.com:5439/dwhdb
1 rows affected.
5 rows affected.

[('AR2ZNXL1187B9B87A1', '1 Giant Leap', '', None, None),
 ('ARALF171187B993611', '35007', '', None, None),
 ('AR1AIMG1187FB5C976', 'ANJA GARBAREK', '', None, None),
 ('AR9B7N41187B9A9D20', 'Adam Watts', 'California', None, Decimal('-119.270230')),
 ('ARLEFM91187FB5B320', 'Airbourne', 'Melbourne, Australia', None, None)]

In [19]:
%%sql 
select count(*) from time;
select * from time LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.chopbbjavcay.us-west-2.redshift.amazonaws.com:5439/dwhdb
1 rows affected.
5 rows affected.

[(datetime.datetime(2018, 11, 16, 20, 48, 11, 796000), 20, 16, 46, 11, 2018, 5),
 (datetime.datetime(2018, 11, 14, 18, 35, 36, 796000), 18, 14, 46, 11, 2018, 3),
 (datetime.datetime(2018, 11, 29, 15, 9, 44, 796000), 15, 29, 48, 11, 2018, 4),
 (datetime.datetime(2018, 11, 30, 15, 28, 30, 796000), 15, 30, 48, 11, 2018, 5),
 (datetime.datetime(2018, 11, 6, 18, 34, 31, 796000), 18, 6, 45, 11, 2018, 2)]